@charset "UTF-8";

body, p, div, span, input, table, th, td, select
{
	font-family: 맑은 고딕;
}

.txt
{
	font-weight: bold;
	border-radius: 2px;
}

.control
{
	border: 1px solid gray;
	border-radius: 3px;
}